/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";


@theme {

  --animate-fade-in-up: fadeInUp 0.9s ease-out;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-out: fadeOut 0.9s ease-out;

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  --animate-fade-in-down: fadeInDown 0.9s ease-out;

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
