.leaving {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 500ms ease-out,
    transform 500ms ease-out;
}

.translate-y-fulla {
  transform: translateY(100%);
}

.translate-y-end {
  transform: translateY(0);
}
