<section class="text-xl z-20 flex justify-between items-center px-18 p-8  w-full bg-red-600  text-white">
  <div class="text-2xl font-bold animate-bounce" >
    PERUFAST
  </div>
  <nav>
    <ul class="flex gap-6">
      @for (item of itemsNavbar; track item.name) {
      <li>
        <a [routerLink]="item.ruta"
          class="flex flex-col items-center font-bold hover:text-blue-100 hover:scale-105 duration-200 transform transition-all"><img
            [src]="item.icono" [alt]="item.name" /><span>{{item.name}}</span></a>
      </li>
      }
    </ul>
  </nav>
  <button (click)="toggleDropdown()" type="button"
    class="flex  gap-1 items-center relative p-1 rounded-lg hover:bg-orange-600">
    <img src="/iconos/user-round.svg" class="font-bold w-10" alt="">
    <span>User</span>
    @if (dropdownOpen()) {
    <div
      [class]="'z-10 absolute text-black top-full right-0 min-w-44 bg-white py-1.5 rounded-lg shadow-lg overflow-hidden mt-1 ' "
      animate.leave="animate-fade-out" animate.enter="animate-fade-in-up">
      <div class="pt-0.5 px-3 mb-1 border-b border-gray-200 ">
        @for (item of itemsdropdown; track $index) {
        <a [routerLink]="item.ruta" class="font-medium border-b-2 border-gray-300 mb-2 text-gray-800 flex p-1 bg-orange-100 rounded-lg items-center gap-3 hover:text-blue-600">
          <i [class]="'bi '+ item.icono +' text-2xl'"></i>
          <span  class=" text-base ">{{ item.name }}</span>
        </a>
        }

      </div>
    </div>
    }
  </button>
</section>
